@import "tailwindcss";

@theme {
  --color-gold-400: #eac758;
  --color-gold-500: #d4af37;
  --color-gold-600: #b5952f;
  --color-gold-700: #967b25;
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-800 antialiased font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-medium;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-stone-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full hover:bg-stone-400;
}